@using System.Data
@model DataSet

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Assets/css/style.css">

</head>
<body>
    <h1>Import data of Uploaded Excel into Database</h1>
    <h2>Import your Excel file</h2>

    <form method="post" enctype="multipart/form-data">
        <div class="input-file-container">
            <input class="input-file" id="my-file" name="file" type="file" required />
            <label tabindex="0" for="my-file" class="input-file-trigger">Select a file...</label>
            <p class="file-return"></p>

            <button type="submit" class="btn-submit">
                <div class="loader"></div>
                <span>Upload</span>
            </button>

            <h1 class="success-alert">@ViewBag.SuccessUpload</h1>
        </div>
    </form>

    @if (Model != null)
    {
        <table cellpadding="0" cellspacing="10" style="margin: 0 auto;">
            <tr>
                @foreach (DataColumn col in Model.Tables[0].Columns)
                {
                    <th align="center">@col.ColumnName</th>
                }
            </tr>
            @foreach (DataRow row in Model.Tables[0].Rows)
                {
                    <tr>
                        @foreach(DataColumn col in Model.Tables[0].Columns)
                    {
                        <td align="center">@row[col.ColumnName]</td>
                    }
                    </tr>
                }
        </table>
    }

    <script src="~/Assets/js/script.js"></script>
</body>
</html>